# Python virtual environments
venv/
.venv/
env/
ENV/
**/Lib/site-packages/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
